body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h2,
h3 {
  font-family: "Montserrat", sans-serif;
}

h1,
h2 {
  color: #66bfbf;
}

h3,
a {
  color: #11999e;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

hr {
  border: dotted 6px #eaf6f6;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
.profile-text,
#bottom-skills-row {
  margin-bottom: 50px;
}

.profile-text {
  width: 30%;
  margin: auto;
}

p {
  line-height: 2;
}

a:hover {
  color: #eaf6f6;
}

.web-link {
  text-decoration: none;
}

/*Top Container code*/

.top-container {
  background-color: #e3fdfd;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

/*Middle Container code*/
.middle-container {
  background-color: white;
  margin: 100px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skills-programming {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.skills-gaming {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn-container {
  margin: 44px auto 100px auto;
}

.bottom-h3 {
  margin-top: 100px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

/*Bottom Container code*/
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.footer-link {
  color: #11999e;
  text-decoration: none;
}

.footer-text {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
